:root {
    --primario: #183D3D;
    --primarioOscuro: #040D12;
    --secundario: #5C8374;
    --secundarioClaro: #93B1A6;
    --blanco: #FFF;
    --negro: #000;
}
html{
    font-size: 62,5%;
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  *{
    margin: 0;
    padding: 0;
  }
body{
    font-size: 1rem; 
    font-family: 'Barlow', sans-serif; 
}
main{
    margin: 2rem;
}
.nav_principal{
        display: flex;
        flex-direction: column;
        background-color: var(--secundario);
    } 
    @media (min-width: 380px){
        .nav_principal{
            flex-direction: row;
            justify-content: space-around;
        }
    }
    
    .nav_principal a{
        display: block;
        text-align: center;
        text-decoration: none;
        color: var(--blanco);
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0.4rem;
    } 
    .nav_principal a:hover{
        background-color: var(--secundarioClaro);
        color: var(--negro);
    }

h1,
h2,
h3,
h4{
    text-align: center;
    color: var(--primario);
}
img{
    max-width: 100%;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: var(--secundarioClaro);
    padding: 1rem 0.5rem;
}
.info-product{
    font-weight: bold;
    text-align: center;
}
.description-product{
    grid-column: 1/3;
}
.info-product p{
    margin: 0.2rem;
}




@media (min-width: 687px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .info-product{
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

/* Footer*/
.footer{
    background-color: var(--secundario);
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem;
}
.footer p{
    color: rgb(228, 231, 236);
}
.footer h3{
    color: var(--blanco) ;
}
.pie_pagina{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    font-size: 0.8rem;
    justify-content: center;
    padding: 3rem 0 0 0;
}
.footer__contactenos{
    padding: 10%;
    font-size: 1.6rem;
}
.footer__contactenos-center{
    padding: 10%;
}
.footer__contactenos-1{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
    padding: 0.2rem;
}
@media (max-width: 500px) {
    .pie_pagina{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
}