:root {
  --primario: #183d3d;
  --primarioOscuro: #040d12;
  --secundario: #5c8374;
  --secundarioClaro: #93b1a6;
  --blanco: #fff;
  --negro: #000;
}
html {
  font-size: 62, 5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
}
main {
  margin: 2rem;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  color: var(--primario);
}
img {
  max-width: 100%;
}
option{
    color: var(--blanco);
    background-color: #5c8374;
}
li{
    margin: 1rem;
}
.nav_principal {
  display: flex;
  flex-direction: column;
  background-color: var(--secundario);
}

.nav_principal a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--blanco);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.4rem;
}
.nav_principal a:hover {
  background-color: var(--secundarioClaro);
  color: var(--negro);
}

.categorias{
    border: none;
    background: transparent;
    color: var(--blanco);
    font-size: 1.5rem;
    text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: var(--secundarioClaro);
  padding: 1rem 0.5rem;
}
.info-product {
  font-weight: bold;
  text-align: center;
}

.sale{
    font-weight: normal;
    text-decoration: line-through;
    text-decoration-color: red ; 
}
.description-product {
  grid-column: 1/3;
}
.info-product p {
  margin: 0.2rem;
}

.banner img{
    width: 100%;
    height: 300px;
}

.banner p{
    margin: 1rem 0 2rem 0;
}



@media (min-width: 687px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .info-product {
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container-somos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .container-pagos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    align-items: center;
  }
}
@media (min-width: 380px) {
  .nav_principal {
    flex-direction: row;
    justify-content: space-around;
  }
}
.description-product{
    grid-column: 1/3;
}
.info-product p{
    margin: 0.2rem;
}




@media (min-width: 687px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .info-product{
        font-size: 1.3rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
/* Slider */
.slider-marcas {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: var(--secundarioClaro);
  }
  
  .slider-marcas .slide-track {
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
    animation: scroll 30s linear infinite;
    -webkit-animation: scroll 30s linear infinite;
    width: calc(200px * 12);
    margin-bottom: 5rem;
  }
  .slider-marcas .slide .img-marca {
    width: 100%;
    height: 100%;
  }
  .slider-marcas .slide {
    width: 20rem;
  }
  .slide img{
    border-radius: 5%;
  }
  .slider-marcas hr {
    position: absolute;
    width: 125rem;
    margin-left: 33.5rem;
    margin-top: 2rem;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-20rem * 6));
      -webkit-transform: translateX(calc(-7rem * 6));
    }
  }
/* Footer*/
.footer{
    background-color: var(--secundario);
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem;
}
.footer p{
    color: rgb(228, 231, 236);
}
.footer h3{
    color: var(--blanco) ;
}
.pie_pagina{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    font-size: 0.8rem;
    justify-content: center;
    padding: 3rem 0 0 0;
}
.footer__contactenos{
    padding: 10%;
    font-size: 1.6rem;
}
.footer__img{
    padding: 1.5rem;
}
.footer__contactenos-center{
    padding: 10%;
}
.footer__contactenos-1{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    gap: 1rem;
    padding: 0.2rem;
}
@media (max-width: 740px) {
    .pie_pagina{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
}